body {
  margin: 0;
  padding: 0;
}
section {
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .cat img {
  width: 250px;
  position: absolute;
}
section .cat cat1 {
  position: absolute;
  right: 20px;
  z-index: 1;
}
section .cat cat2 {
  z-index: 2;
}
section .cat cat3 {
  z-index: 3;
}
.box{
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 10px;
  width: 500px;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.box-item{
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 10px;
  border-radius: 50px;
}
